/* 
  .component1 {
    
    height : 100%;
    flex: 80%; 
     background-color: lightblue;
    display: inline-block;
   
  } */

  .component1 {
    flex: 1; /* Use flex property to take up remaining height */
    /* overflow-y: auto; Add scrollbar if content exceeds height */
    height : 500px;

  }
  
  .card {
    height: 100%; /* Make sure the card takes up 100% height of its parent */
  }
  
  
  .component2 {
    /* width: 30%; */
    height : 200px;
    flex: 30%;
    background-color: lightgreen;
    display: inline-block;
    /* margin-left: 10px;
    margin-right: 10px;*/
    margin-top: 30px; 
  }
  #order-btn{
    margin-top: 30px; 
    margin-left: 50%;
  }